<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h3>Role: <%= @user.role %></h3>

<p>Email Address: <%= @user.email %></p>
<p>Date of Birth: <%= @user.date_of_birth %></p>
<p>Approved? <%= @user.approved %></p>